<p>employee-register works!</p>
<h2>Employee List</h2>
             <h3>{{errorMsg}}</h3>

         <div *ngIf="employee">
             <ul>
                <li>{{employee.message}}</li>
             </ul>
         </div>
